<%= content_for(:title, @user.username) %>
<div class="list-all-video">
	<% if @videos.size == 0 %>
		<%= link_to "Bắt đầu chia sẻ video của bạn", new_video_path %>
	<% end %>
  <% @videos.each do |video|  %>
  <div class="video">
    <div class="video-thumbnai">
      <% if video.video_type == "youtube" %>
      <%= link_to video_path(video), target: '_blank' do %><img src="http://i.ytimg.com/vi/<%= video.video_id %>/hqdefault.jpg" ><% end %>
    <% 
      elsif video.video_type == "9gag"   
        image = rend_dimention_video(video.dimention)      
    %>
      <video loop preload class="video-detail-gif" poster="http://img-9gag-fun.9cache.com/photo/<%= video.video_id %>.jpg" width="<%= image['width'] %>" height="<%= image['height'] %>">
        <source src="http://img-9gag-fun.9cache.com/photo/<%= video.video_id %>v.mp4" type="video/mp4" >
        <source src="http://img-9gag-fun.9cache.com/photo/<%= video.video_id %>vwm.webm" type="video/webm" >       
      </video>
      <span><i class="fa fa-play-circle-o"></i></span>
    <% elsif video.video_type == "upload" %>
    <% image = rend_dimention_video(video.attachment.dimention) %>
      <video loop preload class="video-detail-gif" poster="<%= get_name(video.attachment.video_file_name, video.attachment.video.url) %>.jpg" width="<%= image['width'] %>" height="<%= image['height'] %>">
        <source src="<%= video.attachment.video %>" type="<%= (video.attachment.video_content_type == 'video/mp4') ? 'video/mp4' : 'video/webm' %>" >     
      </video>
      <span><i class="fa fa-play-circle-o"></i></span>
    <% end %>
    </div>
    </div>
  <% end %>
</div>
<%= will_paginate @videos %>
<%= content_for :sidebar do %>
  <div class="sidebar widgets user-box">
    <h3>User Info</h3>
    <div class="list-post">
      <div class="user-detail">
        <%= link_to user_path(@user), class: "link-avatar" do %>
          <%= gravatar_url_for(@user) %>
        <% end %>
        <div class="user-profile">
          <span class="username"><%= link_to @user.username, user_path(@user) %></span>
          <br><span>Videos: <%= @user.videos.published.size %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar widgets featured-post">
    <h3>Most Viewed</h3>
    <div class="list-post">
      <% @populare.each do |populare| %>
      <div class="video-image">
        <div class="video-image">
          <% if populare.video_type == "youtube" %>
          <img src="https://i.ytimg.com/vi/<%= populare.video_id %>/hqdefault.jpg">
        <% elsif populare.video_type == "9gag" %>
          <img src="http://img-9gag-fun.9cache.com/photo/<%= populare.video_id %>.jpg">
        <% elsif populare.video_type == "upload" %>
          <img src="<%= get_name(populare.attachment.video_file_name, populare.attachment.video.url) %>.jpg">
        <% else %>
          <img src="https://i.ytimg.com/vi/<%= populare.video_id %>/hqdefault.jpg">
        <% end %>
          <span><%= link_to populare.title, video_path(populare) %></span>
        </div> 
      </div>      
      <% end %>
    </div>
  </div>
<% end %>
