<% if permission? %>
<h1>Editing Video</h1>
<%= form_for @video, :html=>{ multipart: true } do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="input-group">
    <%= f.label :tag_list, "Tags: " %>
    <%= f.text_field :tag_list, class: 'form-control' %>
  </div>
  
  <div class="input-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', rows: 10 %>
  </div>
  <div class="input-group">
    <%= f.submit :'Submit', class: 'btn btn-submit btn-success' %>
  </div>
<% end %>

<%= link_to 'Show', @video %> |
<%= link_to 'Back', videos_path %>
<% else %>
	<%= link_to 'Back', videos_path %>
<% end %>
